window.bar {
  background-color: transparent;
  border-radius: 20px;
  color: white;
}

window.tray {
  border: 5px solid aqua;
  border-radius: 10px;
  background-color: transparent;
}

.tray {
  background-color: whitesmoke;
  border: 4px solid aqua;
  border-radius: 10px;
}

window.calendar {
  background-color: transparent;
}

.calendar {
  border-radius: 10px;
  border: 2.5px white solid;
  background-color: #0D0B0B;
  background-size: cover;
  color: white;
  font-size: 25px;
}

.calendar:selected {
  background-color: red;
  color: black;
}

.calendar.header {
  border: 2.5px white solid;
  color: lime;
}

.calendar.highlight {
  color: red;
}

.calendar:indeterminate {
  color: yellow;
}

.battery {
  font-size: 28px;
  border: 3px solid aqua;
  border-radius: 20px;
}

.date_time {
  font-size: 20px;
  border: 3px solid aqua;
  border-radius: 20px;

}

.previous_workspace {
  font-size: 50px;
  border: none;
}

.next_workspace {
  font-size: 50px;
}

.workspace {
  font-size: 35px;
  border: 3px mistyrose solid;
  border-radius: 50px;
}

.workspace:hover {
  background: white;
  color: black;
}
